@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
    margin:0;
    padding:0;
}
.logo{
    font-size: 1.6rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
.header{
    width:100vw;
    height:0.3cm;
    background-color: #00BFFF;
}
.footer{
    background-color: yellow;
    height:5vh;
    text-align: center;
    font-size: 0.8rem;
 }
body{
    padding: 0px;
    margin: 0px;
}
.hk-1{
   height: 50vh;
   background-color: #fffda8;
}
.hk-2{
    height: 50vh;
    background-color: #FFF;
}
.hk-3{
    height: 50vh;
    background-color: #fffda8;
 }
 .hk-4{
    height: 50vh;
     background-color: #FFF;
 }
 .hk-5{
    height: 50vh;
     background-color: #fffda8;
 }
#carouselExampleSlidesOnly>.carousel-inner>.carousel-item>img{
    height: 50vh; 
}
.text{
    letter-spacing: 0.1rem;
    font-family: 'cwTeXYen', sans-serif;
    font-size: 1.22rem;
    font-weight: 500;
}
.title{
    font-size: 1.7rem;
    font-weight: bold;
}
.gap{
    width:100%;
    height:0.5cm;
    border-bottom: solid 1px black;
}
.important{
    font-weight: 600;
}
